@model CadastroCertificados.Models.Certificado

@{
    ViewData["Title"] = "Ver Certificado";
}

<h1>Certificado</h1>

<div>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.NomeCertificado)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.NomeCertificado)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Aluno)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Aluno.NomeAluno)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.TipoCertificado)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.TipoCertificado)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.TempoCertificado)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.TempoCertificado)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.LinkCertificado)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.LinkCertificado)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.StatusCertificado)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.StatusCertificado)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Editar</a>
</div>
<div>
    <a asp-action="Index">Voltar para Lista de Cadastros</a>
</div>

