@model IEnumerable<CadastroCertificados.Models.Certificado>

@{
    ViewData["Title"] = "Certificados";
}

<h1>Lista de Certificados</h1>


<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.NomeCertificado)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Aluno)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TipoCertificado)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TempoCertificado)
            </th>
            <th width="200px">
                @Html.DisplayNameFor(model => model.LinkCertificado)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StatusCertificado)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td width="120px">
                @Html.DisplayFor(modelItem => item.NomeCertificado)
            </td>
            <td width="300px">
                @Html.DisplayFor(modelItem => item.Aluno.NomeAluno)
            </td>
            <td width="150px">
                @Html.DisplayFor(modelItem => item.TipoCertificado)
            </td>
            <td width="80px" class="text-center">
                @Html.DisplayFor(modelItem => item.TempoCertificado)
            </td>
            <td max-width="200px">
                @Html.DisplayFor(modelItem => item.LinkCertificado)
            </td>
            <td width="230px">
                @Html.DisplayFor(modelItem => item.StatusCertificado)
            </td>
            <td>
                <a asp-action="Details" asp-route-id="@item.Id"><button type="button" class="btn btn-outline-dark btn-sm">Ver Certificado</button></a>
                <a asp-action="Edit" asp-route-id="@item.Id"><button type="button" class="btn btn-outline-warning btn-sm">Editar Certificado</button></a>
                <a asp-action="Delete" asp-route-id="@item.Id"><button type="button" class="btn btn-outline-danger btn-sm">Apagar</button></a>
            </td>
        </tr>
}
    </tbody>
</table>
<p>
    <a asp-action="Create"><button type="button" class="btn btn-sm btn-primary">Adicionar Novo Certificado</button></a>
</p>
